/* Your app's SASS, go crazy, make it your own */

ion-content {
  background: #eee;
}

ion-nav-bar.bar.bar-header {
  background-color: #ddd !important;
  h1.title {
    font-weight: bold;
    font-size: 1.5em;
    background:url("../img/paprika.png") no-repeat 0 100%;
    background-size: contain;
  }
}

.item.item-complex {
  background-color: #eee;
  color: black;
  h3 {
    color: -webkit-link;
  }
  padding: 0.3em;
}

.tab-item .icon {
  &.paprika {
    &.red {background:url("../img/paprika-red.png") no-repeat center center;}
    &.yellow {background:url("../img/paprika-yellow.png") no-repeat center center;}
    &.green {background:url("../img/paprika-green.png") no-repeat center center;}
  }
}

.loading-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  z-index: 10;
}
