<?xml version='1.0' encoding='utf-8'?>
<widget id='com.ionicframework.starter' version='1.0.0' xmlns:cdv='http://cordova.apache.org/ns/1.0' xmlns='http://www.w3.org/ns/widgets'>
  <name>Piperka</name>
  <description>
    A phone-friendly interface for using piperka.net
  </description>
  <author email='zed_di_dragon@hotmail.com'>
    Tony A. sSæle
  </author>
  <content src='index.html' />
  <access origin='*' />
  <preference name='fullscreen' value='false' />
  <preference name='webviewbounce' value='false' />
  <preference name='UIWebViewBounce' value='false' />
  <preference name='DisallowOverscroll' value='true' />
  <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
  <icon src="icon.png" />
</widget>
