<?xml version='1.0' encoding='utf-8'?>
<widget id='no.arcticdrakefox.piperka' version='1.0.0' xmlns:cdv='http://cordova.apache.org/ns/1.0' xmlns='http://www.w3.org/ns/widgets' xmlns:gap='http://phonegap.com/ns/1.0'>
  <name>Piperka</name>
  <description>
    A phone-friendly interface for using piperka.net
  </description>
  <author email='zed_di_dragon@hotmail.com'>
    Tony A. Sæle
  </author>
  <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />
  <content src='index.html' />
  <access origin='*' />
  <preference name='fullscreen' value='false' />
  <preference name='webviewbounce' value='false' />
  <preference name='UIWebViewBounce' value='false' />
  <preference name='DisallowOverscroll' value='true' />
  <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
  <preference name="permissions" value="none"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <icon src="icon.png" />
</widget>
