%html
  %head
    %meta(charset='utf-8')/
    %meta(name='viewport' content='initial-scale=1 maximum-scale=1 user-scalable=no width=device-width')
    %title Ionic Seed App
    / ionic css
    %link(href='lib/css/ionic.css' rel='stylesheet')
    / your app's css
    %link(href='css/app.css' rel='stylesheet')
    / ionic/angularjs scripts
    %script(src='lib/js/ionic.bundle.js')
    / cordova script (this will be a 404 during development)
    %script(src='cordova.js')
    / your app's script
    %script(src='js/app.js')
    %script(src='js/services.js')
    %script(src='js/controllers.js')
  / 'piperka' is the name of this angular module (js/app.js)
  %body(ng-app='piperka' animation='slide-left-right-ios7')
    /
      The nav bar that will be updated as we navigate between views
      Additional attributes set its look, ion-nav-bar animation and icons
      Icons provided by Ionicons: http://ionicons.com/ 
    %ion-nav-bar.nav-title-slide-ios7

    %img.loading-icon(src='img/loading51.gif' ng-show='$root.isLoading')

    /
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    %ion-nav-view