%ion-view(title="Login")
  %ion-content(has-header='true' has-tabs='true')
    %form(ng-submit='login()')
      %label.item.item-input.piperka-input
        %span.input-label Username
        %input(type='text' ng-model='credentials.username')

      %label.item.item-input.piperka-input
        %span.input-label Password
        %input(type='password' ng-model='credentials.password')

      .padding
        %button.button.button-block(ng-hide='$root.isLoading' type='submit') Login

      %div(ng-show="token") You are logged in as {{ name }}.
      %div(ng-hide="token") You are not logged in.