/
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.

%ion-tabs.tabs-icon-top
  / Updates Tab
  %ion-tab(title='Updates' icon='icon paprika red' href='#/tab/updates')
    %ion-nav-view(name='updates-tab')
  / Login Tab
  %ion-tab(title='Login' icon='icon paprika green' href='#/tab/login')
    %ion-nav-view(name='login-tab')
