%ion-view(title="Updates")
  %ion-content(has-header='true' has-tabs='true')
    .login-warning(ng-show='failed') Failed to retrieve updates. Have you logged in?
    .no-updates(ng-show='noUpdates') No updates found.
    %ion-list
      .item.item-complex(ng-repeat='update in updates|filter:search|filter:countFilter' type='item-text-wrap' ng-click='redirectTo(update)')
        %h3 {{update.title}}
        %p {{update.count}} new

  .bar.bar-footer

  %ion-footer-bar(align-title='left')
    %input.piperka-input(type='search' placeholder='Search title' ng-model='search.title')
